{% include "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/capcha/style.css" %}?{% now "u" %}">
{% endblock stylesheets %}

{% block javascripts %}
<script src="{% static "js/capcha/script.js" %}?{% now "u" %}" defer></script>
{% endblock javascripts %}


{% block body %}
    <p>Inscription</p>
    <form method="POST">
        {% csrf_token %}
        <div class="border-2">{{ form.username }}</div>
        <div class="border-2">{{ form.password }}</div>
        <button type="submit">S'inscrire</button>
    </form>
    {% include 'capcha.html' %}
{% endblock body %}
