{% include "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/foie/style.css">
{% endblock stylesheets %}

{% block javascripts %}
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
{% endblock javascripts %}

{% block javascripts2 %}
<script src="/static/js/foie/script.js" defer></script>
{% endblock javascripts2 %}

{% block body %}
        <img onclick="click_cache(this)" src="/static/images/rhum.svg" class="cache" id="rhum-1"></img>
        <img onclick="click_cache(this)" src="/static/images/rhum.svg" class="cache" id="rhum-2"></img>
        <img onclick="click_cache(this)" src="/static/images/rhum.svg" class="cache" id="rhum-3"></img>
        <img onclick="click_cache(this)" src="/static/images/baril.svg" class="cache" id="baril-1"></img>
        <img onclick="click_cache(this)" src="/static/images/baril.svg" class="cache" id="baril-2"></img>
        <img onclick="click_cache(this)" src="/static/images/baril.svg" class="cache" id="baril-3"></img>
        <div id="blackZone">
            
        </div>
    <h1>BAD UI</h1>
    <p>Des dechets sont caché dans cet page, trouver les pour nettoyer l'ocean</p>
    <form>
        <h3>Bad Phone Selector</h3>
        <div>Phone: <span id="phoneDisplay">(30) 339-669-214 </span></div>
        <input id="slider" type="range" min="10000000000" max="99999999999" value="55555555555" title="Hint: use keyboard arrows to change value" style="transition: width 0.5s ease-in-out;">
        <hr>
        <div>
            <input id="advancedMode" type="checkbox">
            <label for="advancedMode">Advanced Mode</label>
            
            <input id="angleSlider" type="range" min="-10" max="10" step="0.02" style="display: none;" value="0">
            <!-- <div id = "angleArea" style="display: none;">Angle: <span id="angleDisplay"></span></div>
                <div id = "speedArea" style="display: none;">Speed: <span id="speedDisplay"></span></div>
                <div id = "valueArea" style="display: none;">Value: <span id="valueDisplay"></span></div> -->
            </div>
            <input id="submit" type="submit" value="Submit">
        </form>
        <button style="left: 000px; top: 500px; background-color: red;" class="butt-innac">Click Me</button>
        <button style="left: 130px; top: 200px; background-color: blue;" class="butt-innac">Click Me</button>
        <button style="left: 150px; top: 750px; background-color: green;" class="butt-innac">Click Me</button>
        <button style="left: 500px; top: 800px; background-color: pink;" class="butt-innac">Click Me</button>
        <button style="left: 110px; top: 900px; background-color: purple;" class="butt-innac">Click Me</button>
        <button style="left: 180px; top: 600px; background-color: grey;" class="butt-innac">Click Me</button>
{% endblock body %}
